$color-grass: #7ac95d;
$color-steel: #b2a8bc;
$color-water: #2f9afc;
$color-bug: #a7b727;
$color-dragon: #7a69de;
$color-electric: #ffdc7b;
$color-ghost: #57588a;
$color-fire: #f6492c;
$color-fairy: #fcafff;
$color-ice: #7ad9fb;
$color-fight: #b75643;
$color-normal: #c1beb2;
$color-psychic: #ff9abd;
$color-rock: #beac64;
$color-dark: #6c5c4d;
$color-ground: #dec054;
$color-flying: #6896e8;
$color-poison: #98628b;

$color-hp: #ff5959;
$color-attack: #f5ac78;
$color-defense: #fae078;
$color-spattack: #9db7f5;
$color-spdefense: #a7db8d;
$color-speed: #fa92b2;

.card-grass {
  background: $color-grass;
}
.card-steel {
  background: $color-steel;
}
.card-water {
  background: $color-water;
}
.card-bug {
  background: $color-bug;
}
.card-dragon {
  background: $color-dragon;
}
.card-electric {
  background: $color-electric;
}
.card-ghost {
  background: $color-ghost;
}
.card-fire {
  background: $color-fire;
}
.card-fairy {
  background: $color-fairy;
}
.card-ice {
  background: $color-ice;
}
.card-fight {
  background: $color-fight;
}
.card-normal {
  background: $color-normal;
}
.card-psychic {
  background: $color-psychic;
}
.card-rock {
  background: $color-rock;
}
.card-dark {
  background: $color-dark;
}
.card-ground {
  background: $color-ground;
}
.card-flying {
  background: $color-flying;
}
.card-poison {
  background: $color-poison;
}
