@import "../../../theme.scss";

.card {
  height: 48px;
  width: 298px;
  display: flex;
  flex-direction: row;
  background: white;
  border: 1px solid black;
  justify-content: space-between;
  &:hover {
    border: 1px solid rgb(178, 255, 238);
  }
  cursor: pointer;
  user-select: none;
  margin: 2px 0;
}

.leftCard {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameContainer {
  padding: 0 4px;
  text-transform: capitalize;
  font-weight: bold;
}

.rightCard {
  width: 24px;
  display: flex;
  flex-direction: column;
}

.typeSquare {
  flex: 1;
}

.image {
  height: 48px;
}

.statsContainer {
  display: flex;
  flex-direction: row;
}
