.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.leftContainer {
  flex: 1;
}

.rightContainer {
  width: 300px;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  flex-direction: row;
}

.randomDropContainer {
  width: 400px;
  border-right: 1px solid black;
}

.battleContainer {
  display: flex;
  flex: 1;
}

.boxContainer {
  margin-bottom: 8px;
}
